:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mat-card{
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

mat-form-field {
  width: 100%;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

button{
  margin-left: 10px;
}

table {
  width: 100%;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  /*
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
   */
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: aliceblue;
}

/*
.demo-row-is-clicked {
  font-weight: bold;
}
 */
